/* setting ▼
===================================================  */
// 色
$color-blue: #3569c9;
$color-lightBlue: #4dc1f0;
$color-darkBlue: #4171bf;
$color-lightGreen: #44b700;
$color-green: #016d3b;
$color-red: #ce0004;
$color-grey: #999;
$color-darkGrey: #666;


// Breakpoints
$xxsmall: 370px;
$xsmall: 450px;
$medium: 640px;
$xmedium: 840px;
$xxmedium: 920px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;
