
/* ===================================================
	全国の就労移行支援事業所を探す
	セミナー・説明会検索  ▼
===================================================  */

.searchArea {
	display: table;
	@include clearfix;
	width: 100%;
	margin-bottom: 40px;
	.searchDescription {
		padding: 0;
		@include font-size(1.4);
		@include SP {
			@include font-size(1.2);
		}
	}
	.searchBox {
		width: 60%;
		display: table-cell;
		h2 {
			@extend %boxTitle;
			padding: 8px 10px;
			text-align: center;
		}
		.inner {
			padding: 30px;
			border: 1px solid $color-grey;
			border-top: none;
			@include clearfix;
			form#searchform {
				label {
					display: block;
					margin-bottom: 20px;
				}
				.select-box {
					@include clearfix;
					.search--form--select {
						float: right;
						margin-left: 20px;
					}
				}
				input#s {
					width: 100%;
					margin-left: 0;
					float: none;
				}
				input#searchsubmit {
					display: block;
					width: 160px;
					margin: 20px auto 0;
					padding: 12px;
					background-color: $color-darkBlue;
					float: none;
					@include font-size(1.7);
					@include line-height(2.2);
					&:hover {
			     	 	background-color: darken($color-blue,10%);
					}
				}
			}
		}

		&.for_lawyer .inner { //全国の就労移行支援事業所検索用スタイル
			form#searchform {
				display: block;
				width: 90%;
				margin: 0 auto;
				.select-box {
					.search--form--select {
						margin-left: 0;
						margin-top: 10px;
					}
				}
				input#s {margin-top: 20px;}
			}

			@include SP {
				padding: 20px;
				form#searchform {
					width: 100%;
					.select-box {
						.search--form--select {
							float: none;
							margin-left: 0;
							margin-top: 10px;
						}
					}
					input#s {margin-top: 0;}
					label {
						margin-bottom: 20px;
					}
				}
			}
		}
		&.for_experience {
			.inner { //セミナー検索用スタイル
				height: 224px;
				padding: 30px 60px;
				form#searchform {
					display: inline-block;
					max-width: 468px;
					input#s {margin-top: 10px;}
					input#searchsubmit {margin-top: 30px;}
				}
			}
			@include SP {
				.inner {
					padding: 20px 20px 90px;
					overflow: visible;
					&:after {
						content: "";
						display: block;
						clear: both;
					}
					form#searchform {
						margin-top: 0;
						float: none;
						.select-box {
							.search--form--select {
								float: none;
								margin-left: 0;
								margin-top: 10px;
							}
						}
						label {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
	.consultBox {
		display: table-cell;
		padding-left: 40px;
		@include calc(width,'40% - 40px');
		vertical-align: top;
		> div {
			display: table-cell;
			height: 260px;
			padding: 25px 20px;
			border: 1px solid $color-grey;
			text-align: center;
			vertical-align: middle;
		}
		.tel {
			display: inline-block;
			@include font-size(3.2);
			@include line-height(3.6);
			color: $color-red;
			padding-left: 55px;
			font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
			background: url("images/icon_free_voice.gif") no-repeat scroll left center;
			background-size: 50px auto;
		}
		.text {
			@include font-size(1.7);
			@include line-height(3);
		}
		.btn {
			margin-top: 10px;
			padding: 12px;
			background-color: $color-lightBlue;
			  &:hover {
			      color: #fff;
			      background-color: darken($color-lightBlue,10%);
			  }
		}
	}
	.btn {
		display: block;
		width: 160px;
		margin: 0 auto;
		text-align: center;
		@include font-size(1.7);
		@include line-height(2.2);
	}

	@include SP {
		.searchBox {
			display: block;
			width: 100%;
			margin-bottom: 20px;
			padding-right: 0;
		}
		.consultBox {
			display: block;
			width: 100%;
			padding-left: 0;
		}
	}

}


form#searchform {
	background-color: transparent;
	padding: 0;
}
