/*
** Table display
*/



/*
 * Table display
 */
%table {
  display: block;
  table-layout: fixed;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media only screen and (min-width: $xmedium) {
    display: table;
  }

  &.force-table { display: table; }
  & .columns { float: none; }
  &.uncollapse {
    border-collapse: separate;
    border-spacing: 2rem 1rem;
  }

}

%table--cell {
  display: block;
  margin: 40px 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media only screen and (min-width: $xmedium) {
      display: table-cell;
      margin: 0;
  }

  .force-table & { display: table-cell; }
}

%table--row {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media only screen and (min-width: $xmedium) {
      display: table-row;
  }

  .force-table & { display: table-row; }
}


/*
 * Table layout
 */
.table {@extend %table;}
.table--cell {@extend %table--cell;}
.table-row {@extend %table--row;}

// one cells
.table__onecells {
  @extend %table;
  & .table--cell {
    @media only screen and (min-width: $xmedium) {
        width: 100%;
    }
  }
}

// two cells
.table__twocells {
  @extend %table;
  & .table--cell {
    @media only screen and (min-width: $xmedium) {
        width: 50%;
    }
  }
}

// three cells
.table__threecells {
  @extend %table;
  & .table--cell {
    @media only screen and (min-width: $xmedium) {
        width: 33.333%;
    }
  }
}

// three cells
.table__fourcells {
  @extend %table;
  & .table--cell {
    @media only screen and (min-width: $xmedium) {
        width: 25%;
    }
  }
}
