
/* ===================================================
	トップページ ▼
===================================================  */
.frontpage {
	//右サイドカラム
	.sideTower .sideWidget .textwidget {
		padding-top: 0;
		.banner {
			display: block;
			margin-bottom: 15px;
		}
		.ThumbnailList {
			> div ul li a {
				display: table;
				img,p {
					display: table-cell;
					vertical-align: top;
				}
				img {
					width: 36px;
					height: 36px;
				}
				p {
					padding-left: 5px;
				}
			}
		}

	}

	/* コンテンツ ▼
	-------------------------------------------- */
	.sectionBox p {
		@include font-size(1.3);
	}

	
	/* 料金例 ▼
	-------------------------------------------- */
	.priceList {
		width: 100%;
		margin: 0 0 10px;
		@include clearfix;
		li {
			display: block;
			border: 1px solid #ccc;
			text-align: center;
			float: left;
			&:last-child {margin-right: 0;}
			dt {
				color: #333;
				font-weight: normal;
			}
			dd {
				margin-bottom: 0;
				img {
					width: 100%;
					height: auto;
				}
				.price {
					margin: 10px 0 0;
					color: $color-red;
				}
				.btn {
					margin-top: 10px;
					background-color: $color-lightBlue;	
					&:hover {
						color: #fff;
						background-color: darken($color-lightBlue,10%);
					}
				}
			}
		}

		@media only screen and (min-width: $medium) {
			li {
				margin-right: 20px;
				padding: 14px 10px;
				@include calc(width,'(100% - 40px) / 3');
				dt {
					@include font-size(1.8);
					@include line-height(2.8);
					br {display: none;}
				}
				dd {
					.price {
						@include font-size(2.4);
						@include line-height(2.8);
					}

				}
			}
		}
		@media only screen and (max-width: $medium) {
			li {
				margin-right: 5px;
				padding: 10px 6px;
				@include calc(width,'(100% - 10px) / 3');
				dt {
					@include font-size(1.2);
					@include line-height(2);
					@include letter-spacing(-.05);
				}
				dd {
					.price {
						@include font-size(1.6);
						@include line-height(2.2);
					}
					.btn {
						padding: 8px 12px;
						@include font-size(1.4);
						@include line-height(2);
					}
				}
			}
		}
	}
	
	/* 検索ボックス ▼
	-------------------------------------------- */

	.areaSearch {
		margin-bottom: 40px;

		> h2:first-child {
			@extend %boxTitle;
			padding: 8px 10px;
		}
		.searchTitle {
			text-align: center;
		}
		.searchInner {
			padding: 20px;
			border: 1px solid $color-grey;
			border-top: none;
			ul {margin: 0;}
			.listP {
				> li{
					display: inline-block;
					vertical-align: top;
					h3 {
						@include font-size(1.4);
						margin: 0 0 10px;
						padding: 0;
						border: none;
					}
				}
				.listC li {
					display: inline-block;
					a {
						color: $color-blue;
						text-decoration: none;
						@include font-size(1.3);
						&:hover {text-decoration: underline;}
					}
				}
				.cSelect {
					dt {
						display: inline-block;
						margin-right: 5px;
						font-weight: bold;
						@include font-size(1.2);
						color: #333;
					}
					dd {
						display: inline-block;
						margin-bottom: 0;
					}
					@include SP {
						width: 100%;
						margin-top: 20px;
					}
					.select-box {margin-bottom: 10px;}
				}

			}
			.searchTerms {
				margin: 25px 0 0;
				.select-box {
					margin-bottom: 15px;
				}
				.search--form {
					@include clearfix;
					&--label {
						display: block;
						max-width: 400px;
					}
					&--select {
						float: right;
					}
				}
			}
			.searchText {
				margin: 0 0 5px;
				input.topSearch { width: 70%;}
			}
			@media only screen and (min-width: $medium) {
				padding: 20px;
				.listP {
					> li{
					    margin-bottom: 20px;
					    width: 48%;
						&:nth-child(2n+1) {margin-right: 3%;}
						&:last-child,&:nth-child(7) {margin-bottom: 0;}
					}
					.listC li {
						margin-right: 8px;
						margin-bottom: 2px;
					}
				}
			}
			@media only screen and (max-width: $medium) {
				padding: 10px;
				.listP {
					> li{
						width: 100%;
						margin-right: 0;
						margin-bottom: 12px;
					}
					.listC li {
						margin-right: 3px;
						margin-bottom: 8px;
					}
				}
			}


		}
		.innerSearchList {
			padding: 50px 76px 40px 44px;
			@include SP {
				padding: 25px 38px 20px 22px;
			}
			.searchListContent {
				width: 100%;
				display: table;
				@include SP {
					display: block;
				}
				> * {
					display: table-cell;
					vertical-align: middle;
					padding-bottom: 32px;
					@include SP {
						margin: 0 auto;
						text-align: center;
						display: block;
						padding-bottom: 16px;
					}
				}
				.selectLabel {
					@include font-size(1.5);
					font-weight: bold;
					width: 70%;
					@include SP {
						@include font-size(1.2);
						width: 100%;
					}
				}
				.selectList {
					width: 30%;
					select {
						width: 100%;
					}
					@include SP {
						width: 80%;
					}
				}
			}
			.searchText2 {
				width: 100%;
				form {
					text-align:center;
					.searchWord {
						width: 100%;
						margin-bottom: 34px;
						text-align: left;
						@include SP {
							margin-bottom: 17px;
						}
					}
					.searchBtn {
						max-width: 248px;
						padding: 14px 20px;
						margin: 0 auto;
						@include font-size(1.8);
						background-color: #3366cc;
						width: 100%;
						@include SP {
							padding: 8px 10px;
							@include font-size(1.5);
						}
					}
				}
			}
		}
	}

	/* 体験談・疑問 ▼ experience & question lists
	-------------------------------------------- */
	 .postList {
		margin-bottom: 15px;
		h3 {
			padding: 4px 10px;
			background-color: $color-lightBlue;
			color: #fff;
			font-size: 90%;
		}
		> div {
			border: 1px solid #ccc;
			ul {
				li {
					border-bottom: 1px dotted #ccc;
					a {
						display: block;
						padding: 6px 10px;
						color: $color-blue;
						font-size: 80%;
						background-image: none;
						p {

						}
					}
				}
			}
			.more {
				a {
					display: block;
					padding: 4px 10px;
					text-align: right;
					text-decoration: none;
					color: $color-blue;
					font-size: 80%;
					&:hover {
						background-color: #efefef;
					}
				}
			}
		}
	}

	

	/* widgets in main content ▼
	-------------------------------------------- */
	.widgetWrapper {
		>div:first-child,
		>div:nth-child(2) {
			margin-bottom: 40px;
		}
		>div:nth-child(3) { // PR
			clear: both;
		}
		.localHead {
			margin-bottom: 0;
			padding: 8px 10px;
			border: none;
			background-color: $color-lightBlue;
			color: #fff;
			@include font-size(1.6);
			font-weight: normal;
		}

		.experienceList_wrapper,.questionList_wrapper {
			border-bottom: 1px solid $color-grey;
			border-left: 1px solid $color-grey;
			border-right: 1px solid $color-grey;
			ul {margin: 0;}

			a {
				display: block;
				padding: 8px;
				text-decoration: none;
				@include clearfix;
				color: $color-blue;
				@include font-size(1.4);
				&:hover {
					background-color: #f2f2f2;
				}
			}
			.ttBox {
				margin-bottom: 0;
				border-bottom: 1px solid #ccc;
				&:last-child {
					margin-bottom: 0;
					border-bottom: none;
				}
				.prImage {
					margin-right: 5px;
					float: left;
					img {
						width: 80px;
					}
				}
				.ptTitle {
					margin: 0;
					border: none;
					float: left;
					clear: none;
					font-weight: normal;
					word-break: breal-all;
				}
			}
        	.moreWrap {
				text-align: right;
				border-top: 1px solid #ccc;
				a {
					padding: 10px 8px;
				}
        	}
		}

		@media only screen and (min-width: $medium) {
			>div:first-child,
			>div:nth-child(2) {
				@include calc(width,'50% - 10px');
			}
			>div:first-child { // experience
				float: left;
			}
			>div:nth-child(2) { // question
				float: right;
			}
		}
	}

	/* Public Relations ▼
	-------------------------------------------- */
	.pr_wrapper {
		.inner {
			padding: 0;
			border: none;
			div {text-align: left;}
			ul {
				margin: 0;
				@include clearfix;
				li {
					@include calc(width,'100%/3 - 17px');
					margin-right: 25px;
					margin-bottom: 30px;
					float: left;
					list-style: none;
					&:nth-child(3n)  {
						margin-right: 0;
					}
					h3 {
						margin: 0 0 10px;
						padding-left: 10px;
						@include font-size(1.6);
					}
					.prDescription {
						margin-top: 10px;
						p {
							margin: 0;
							padding: 0;
							color: #666;
							@include font-size(1.2);
							@include line-height(1.6);
						}
					}
					.moreLink {
						text-align: right;
					}

				}
			}
			@include SP {
				ul li {
					width: 100%;
					margin-right: 0;
					float: none;
					&:nth-child(3n)  {margin-right: 0;}
					.prImage {
						vertical-align: top;
						img {
							display: block;
							width: 150px;
							height: auto;
						}
					}
					.prDescription {
					}
					.moreLink {
						a {margin-top: 0;}
					}
				}
			}
			
		}
	}
}